{% extends 'base.html' %}
{% block content %}
<!--    <h1 style="color: #f5ebdc; background-color: red; height: 150px; display: flex; justify-content: center; align-items: center">Furnutre</h1>-->
<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Магазин</h2>
			<h6>Качественная и стильная мебель</h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
       {% for category in categories %}
         <div class="col">
           <div class="card">
             <img src="{{ category.image.url }}" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">
                   <a href="{% url 'list' category.slug%}">{{ category.title }}</a>
               </h5>
             </div>
           </div>
         </div>
       {% endfor %}
    </div>
				</ul>
			</div>

		</div>

</section>
{% endblock %}















